<h1> About Us </h1>
<p>Tech university is an institution of higher (or tertiary) education and research, which awards academic degrees in various academic disciplines. we are provide undergraduate education and postgraduate education.
</p>