
<div class="container">

<h1>Gallery</h1>

<div class="row">
    <div class="col s12 m6">
    	                    <%= image_tag "a1.jpeg", alt: "user-img", class: "responsive-img" %>

     </div>
     <div class="col s12 m6">
    	                    <%= image_tag "a2.jpeg", alt: "user-img", class: "responsive-img" %>

     </div>
 </div>
 <div class="row">
 	<div class="col s12 m6">
    	                    <%= image_tag "ab.jpg", alt: "user-img", class: "responsive-img" %>

     </div><div class="col s12 m6">
    	                    <%= image_tag "a3.jpeg", alt: "user-img", class: "responsive-img" %>

     </div>
 </div>
</div>